.App{
    background-color: #fff;
    min-height: 40vh;
    width: 300px;
    padding: 20px;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
}

.notify-trigger{
    font-size: 20px;
    color: #333;
    cursor: pointer;

}

.notify-content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    border: 1px solid #137dfe;
    & > div{
        padding: 10px;
        background-color: #137dfe75;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        &:hover{
            background-color: #137dfe;
        }
        &:last-child{
            border: none;
        }
    }
}